/* Single article styles */
@import 'styles/variables.module.scss';

.article {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    background-color: $main-white;

    .articleHeadWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
    }

    .sectionHeader {
        @include sectionHeader;
    }

    .pub_date {
        @include smallFont;
    }
    
    .imageWrapper {
        margin-bottom: 20px;
    }

    .mainArticleHeader {
        @include mainArticleHeader;
        padding: 0 15px;
        margin-bottom: 40px;
    }
    
    .articleParagraph {
        padding: 0 15px;
        margin-bottom: 20px;
        @include articleParagraphFont;
    }

    @media (min-width: $screen-sm){
        padding: 0 15px;

        .articleHeadWrapper {
            justify-content: flex-start;
            padding: 40px 0;
    
            & > div:nth-of-type(2) {
                margin-left: 20px;
            }
        }

        .imageWrapper {
            margin-bottom: 40px;
        }

        .mainArticleHeader {
            padding: 0;
        }

        .articleParagraph {
            padding: 0;
            margin-bottom: 40px;
        }
    }
    @media (min-width: 1000px){
        padding: 0;
    }
}

.errorMessage, 
.loader {
    @include articleLoader;
}