/* Colors */

$main-white: #fbfbfb;
$background-white: #f5f5f5;
$pink-base: #e33a6d;
$dark-grey: #7a7a7a;
$dark-black: #161616;
$border-color: #d1d1d1;

/* Screen sizes*/
$screen-sm: 768px;
$screen-semi-md: 1000px;
$screen-md: 1200px;

/* Fonts sets */
$font-style-thin: 400;
$font-style-bolder: 600;

/* Border radiuses*/
$border-radius-sm: 4px;
$border-radius-st: 8px;

/* Transition time */
$standart-transition: 0.3s;

/* Shadows */
$shadow-sm: 0px 0px 10px rgba(22, 22, 22, 0.1);
$shadow-md: 0px 2px 10px rgba(22, 22, 22, 0.1);
