/* Colors */

$main-white: #FBFBFB;
$background-white: #F5F5F5;
$pink-base: #E33A6D;
$dark-grey: #7A7A7A;
$dark-hover: #161616;

/* Screen sizes*/
$desktop-screen: 1200px;

/* Fonts sets */
@mixin footerFont {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

@mixin headerFont {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

@mixin articleHeader {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

@mixin sectionHeader {
    color: $main-white;
    background-color: $pink-base;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    padding: 4px 8px;
    border-radius: 4px;
}

@mixin mainArticleHeader {
    color: $dark-hover;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

/* Border radiuses*/
$border-radius-small: 4px;

/* Transition time */
$standart-transition: .3s;

/* Loaders */
@mixin articleLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $pink-base;
    padding: .5rem 1rem;
    color: $main-white;
    border-radius: $border-radius-small;
}