/* Colors */

$main-white: #FBFBFB;
$background-white: #F5F5F5;
$pink-base: #E33A6D;
$dark-grey: #7A7A7A;
$dark-hover: #161616;

/* Screen sizes*/
$desktop-screen: 1200px;

/* Fonts sets */
@mixin footerFont {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

@mixin headerFont {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

@mixin articleHeader {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

/* Border radiuses*/
$border-radius-small: 4px;

/* Transition time */
$standart-transition: .3s;