/* Articles styles */
@import '../../styles/variables.module.scss';

$article-padding: 20px 15px;
$article-padding-small: 10px 15px;

.article {
    max-width: $desktop-screen;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "Section Date"
    "Title Title"
    "Body Body"
    "ArticleImage ArticleImage";
    align-items: start;
    box-shadow: 0px 0px 10px rgba(22, 22, 22, 0.1);

    &:hover {
        background-color: rgba(0,0,0,.1);
        transition: $standart-transition;
    }

    @media screen and(min-width: $desktop-screen){
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas:
        "Section ArticleImage"
        "Title ArticleImage"
        "Body ArticleImage"
        "Date ArticleImage";
        border-radius: 8px;
    }
}
.sectionWrapper {
    grid-area: Section;
    padding: $article-padding;
}
.dateWrapper {
    grid-area: Date;
    padding: $article-padding;

    @media screen and(max-width: $desktop-screen){
        text-align: right;
    }
    @media screen and(min-width: $desktop-screen){
        align-self: end;
    }
}
.titleWrapper {
    grid-area: Title;
    padding: $article-padding-small;
}
.bodyWrapper {
    grid-area: Body;
    padding: $article-padding-small;
}
.imageWrapper {
    grid-area: ArticleImage;
    align-self: end;
    justify-self: center;

    @media screen and(min-width: $desktop-screen){
        justify-self: end;
    }
}
.sectionTitle {
    color: $main-white;
    background-color: $pink-base;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    padding: 4px 8px;
    border-radius: 4px;
}
.errorMessage, 
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $pink-base;
    padding: .5rem 1rem;
    color: $main-white;
    border-radius: $border-radius-small;
}