/* Footer styles */
@import 'styles/variables.module.scss';

.footerWrapper {
    @include smallFont;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #D1D1D1;
    color: $dark-grey;
    max-width: $screen-md;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: $screen-md) {
        flex-direction: column;

        .linksWrapper li {
                margin: 20px 0;
        }
        .copyrightWrapper {
            margin-top: 20px;
        }
    }

    @media screen and (min-width: $screen-md) {
        padding: 23px 0;

        .copyrightWrapper {
            order: 1;
        }

        .linksWrapper {
            order: 2;

            li {
                display: inline-block;
                margin: 0 10px;
            }
        }

        .socialMediaWrapper {
            order: 3;
        }
    }
}
.linksWrapper {
    text-align: center;
    margin: 0;
    padding: 0;

    li:hover {
        color: $dark-hover;
        transition: $standart-transition;
    }
}
.socialMediaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .socialMediaIconWrapper {
        width: 35px;

        &:nth-of-type(2) {
            margin: 0 40px;
        }
    }
}